.TodoList-body {
  width: max-content;
}
.Todo {
  background-color: whitesmoke;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
  font-size: smaller;
  width: 227%;
  transition: background-color 1s, color 1s;
  width: 560px;
  color: slategray;
}
.Todo:hover {
  background-color: lightsteelblue;
  color: unset;
}

.Todo:hover .Todo-edit-button {
  display: block;
}
.Todo-edit-button {
  display: none;
  margin-top: -8px;
  float: right;
  right: 25px;
  font-size: 30px;
  color: green;
  cursor: pointer;
  font-weight: bolder;
  background: none;
  border: none;
}
.Todo:hover .Todo-delete-button {
  display: block;
}
.Todo-delete-button {
  display: none;
  margin-top: -10px;
  float: right;
  font-size: 30px;
  color: red;
  cursor: pointer;
  background: none;
  border: none;
}
.TodoSearch{
  background-color:#e2e2e2;
  width: auto;
  height: 36px;
  font-size: 18px;
  
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  float: right;
  padding-left: 10px;
  margin-right: 10%;
  width: auto;
  height: 36px;
  font-size: 18px;
  color: #151515;;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  float: right;
  padding-left: 10px;
  margin-right: 10%;
}
.TodoSearchList{
  border: none;
  width: fit-content;
  padding-left: 20px;
  position: fixed;
  display: block;
  margin-left: 71%;  
  margin-top: 59px;
  
}
.TodoSearchListItem{
  background-color: #e2e2e2;
  width: 226px;
  text-align: left;
  padding-left: 8px;
  margin-left: -12px;
  padding-bottom: 12px;
  border-bottom: solid 1px #cac4c4;
  padding-top: 7px;
  font-family: sans-serif;
  -webkit-transition: background-color 0.5s ,color 0.5s;
  -moz-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
  }
  .TodoSearchListItem:hover{
    background-color: #55739a;
    color:white
  }
